html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: darkblue;
  color: white;
}

.search {
  color: white;
}

.input-field {
  border-radius: 5px;
  height: 2.5em;
}

.dropdown-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.2em;
}

.dropdown-button:focus {
  outline: none;
}

.weather-toggle {
  width: 100%;
}

.weather-toggle-tab {
  width: 50%;
  background-color: white;
  border: none;
  outline: none;
  font-size: 1.5em;
}
.location-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 5em;
  padding: 2em 0.5em;
}

.location-select-list {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  margin: 1em 5em;
  padding: 2em 0.5em;
}

.location-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-location-elements {
  margin: 1em;
  padding: 0.5em;
}

.recent-locations-header {
  display: flex;
}

.recent-locations-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.removal-button {
  border: none;
}

.removal-button:hover {
  color: red;
}

.today-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
  padding: 1em 10em;
}

.three-day-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
}

.three-day-template-forecasts {
  display: flex;
  flex-direction: row;
}

.three-day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.none {
  display: none;
}

.active {
  border-bottom: 2px solid black;
}

@media (max-width: 768px) {
  .location-weather-card {
    margin: 1em;
  }
  .location-select-list {
    margin: 1em;
  }
  .three-day-template-forecasts {
    flex-direction: column;
  }
  .today-template {
    padding: 1em 5em;
  }
}

@media (max-width: 400px) {
  .location-weather-card {
    margin: 0.5em;
  }

  .location-select-list {
    margin: 0.5em;
  }
  .today-template {
    padding: 1em;
  }
}